<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Visualize Your Email</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/loadstyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/chartstyle.css') }}">
</head>
<body>

    <center id="loading" class="loading">
        <div class="spinner spinnerTwo"><span></span></div>
        <p> 正在获取您的邮件中，这可能会花费一分钟以上，这取决于您邮箱中邮件的数量以及服务器的带宽。</p>
    </center>
    
    <center id="info" class="info">
        <h3>
            {{username}}
            <br>
            邮件可视化你的 {{year}} 
        </h3>
    </center>

    <center id="content" class=="content">
        <center id="info" class="info">
            <p>{{year}} 年，每一天的邮件往来，都有记录</p>
        </center>
        <div id="calendar" style="width:1000px; height:300px;"></div>
        <center id="info" class="info">
            <p id="time_info">这一年，不同的时段，不同的邮箱，不同的来源</p>
        </center>
        <div id="sunburst" style="width:1000px; height:600px;"></div>
        <center id="info" class="info">
            <p>通过这个雷达图，看看你的邮件总体的信息吧</p>
        </center>
        <div id="radar" style="width:1000px; height:600px;"></div>
        <center id="info" class="info">
            <p id="month_info">每个月都有不同的事情</p>
        </center>
        <div id="scatter" style="width:1000px; height:600px;"></div>
        <center id="info" class="info">
            <p>这些词可能能够代表你的 {{year}} 年</p>
        </center>
        <div id="wordcloud" style="width:1000px; height:600px;"></div>
    </center>

    <script>
        $(
            function () {
                var info=document.getElementById("info");
                info.setAttribute("hidden", true);
                var content=document.getElementById("content");
                content.setAttribute("hidden", true);

                var calendar = echarts.init(document.getElementById('calendar'), 'white', {renderer: 'canvas'});
                var sunburst = echarts.init(document.getElementById('sunburst'), 'white', {renderer: 'canvas'});
                var radar = echarts.init(document.getElementById('radar'), 'white', {renderer: 'canvas'});
                var scatter = echarts.init(document.getElementById('scatter'), 'white', {renderer: 'canvas'});
                var wordcloud = echarts.init(document.getElementById('wordcloud'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "http://v.api.ifffff.cn/charts",
                    dataType: 'json',
                    data:{
                        host: "{{host}}" ,
                        username: "{{username}}",
                        password: "{{password}}",
                        year: "{{year}}",
                        },
                    success: function (result) {
                        var loading=document.getElementById("loading");
                        var info=document.getElementById("info");
                        
                        loading.setAttribute("hidden", true);
                        info.removeAttribute("hidden");
                        content.removeAttribute("hidden");

                        calendar.setOption(result.calendar);    
                        sunburst.setOption(result.sunburst);    
                        radar.setOption(result.radar);    
                        scatter.setOption(result.scatter);   
                        wordcloud.setOption(result.wordcloud);   

                        document.getElementById("month_info").innerHTML = result.month;
                        document.getElementById("time_info").innerHTML = result.period;
                    },
                    error:function(xhr,state,errorThrown){
				        alert("您填写的信息有误，请返回重试。如果您账号密码正确，可能是邮箱设置可拉取的邮件数量过多，导致服务器无法处理，请尝试减少可拉取的天数。");
                        location.href="";
			        }
                
                 })
            }
        )
    </script>
</body>
</html>